.button {
  background-color: hsl(var(--link-font-color));
  padding-inline: 2em;
  padding-block: 0.5em;
}

.create-new-scheme-form label {
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

.input {
  padding: 0.5em;
  font-size: 1.25rem;
}

.link {
  text-decoration: none;
  color: hsl(var(--link-font-color));
}

.link:hover {
  color: hsl(var(--primary-accent-color));
}
