.new-color-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  max-width: 100%;

  &__preview {
    display: inline-block;
    grid-column: 2 / 3;
    background-color: white;
  }

  &__label {
    grid-column: -1 / 1;
  }

  &__input {
    justify-self: start;
  }
}
