# Avoid accidental upload of the Sketch and Figma design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore

# Copy and pasted from parcelJS .gitignore
node_modules/
/target/
.DS_Store
package-lock.json
coverage/
.nyc_output/
.cache/
.parcel-cache/
dist/
lib/
.vscode/
.idea/
*.min.js
# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
tmp
parcel-bundle-reports/
.verdaccio_storage/
sourcemap-info.json