@media screen and (min-width: 768px) {
  .body-grid {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    min-width: 320px;
    max-width: max-content;
  }

  .footer {
    grid-column: 1 / -1;
  }
}
